.super-mario {
    left: 100px;
    position: absolute;
    width: 200px;
  }
  
  .goomba {
    left: 150px;
    top: 400px;
    position: absolute;
    width: 100px;
  }
  
  .baloon {
    top: 250px;
    left: 400px;
    position: absolute;
  }
  
  .speach {
    top: 295px;
    left: 420px;
    position: absolute;
    font-size: 25px;
    z-index: 2;
  }
  
  .bowser {
    top: 400px;
    left: 700px;
    position: absolute;
    width: 200px;
  }